@import "../../styles/variables.scss";

.crate-order {
  .submit-btn {
    border: none;
    background-color: $main-color;
    color: white;
    font-family: "Poppins", sans-serif !important;
    font-weight: 500;
    font-size: 14px;
    padding: 9px 35px;
    border-radius: 5px;
    cursor: pointer;
  }
}



::ng-deep .p-dialog-title {
    font-size: 22px;
    font-family: "Poppins", sans-serif !important;
  }