<div class="row dining-tables-list">
  <!-- Loop through tables -->
  <div class="col-lg-3 mb-3" *ngFor="let table of tables">
    <button
      class="dining-tables-btn py-5"
      [ngClass]="{ 'selected-table': selectedTable === table }"
      (click)="selectTable(table)"
    >
      {{ table?.name }}
    </button>
  </div>

  <!-- Confirm Button -->

  <div class="col-12">
    <button class="submit-btn w-100" (click)="confirmSelection()" [disabled]="!selectTable">
      Təsdiqlə
    </button>
  </div>

</div>
