<ngx-spinner
  *ngIf="showSpinner"
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>

<div class="full_menu h-100 m-0" *ngIf="!showSpinner">
  <!-- Breadcrumb -->
  <div
    class="menu-option content row py-3 d-flex justify-content-between align-items-center m-0"
  >
    <div class="col-lg-8 m-0 d-flex align-items-center">
      <p class="p-0 m-0">{{ Language.breadcrumbText }}</p>
    </div>
    <div class="col-lg-4 d-flex justify-content-end">
      <button
        type="button"
        class="btn me-2"
        *ngFor="let cat of categories"
        [ngClass]="{ selected: cat.id === selectedCategoryId }"
        (click)="openMenu(cat.id)"
      >
        {{ cat.name }}
      </button>
    </div>
  </div>

  <div class="row menu content mx-0 pb-5">
    <!-- Search and Menu List -->
    <div class="col-lg-7 pt-4 m-0">
      <!-- <div class="pt-4 pb-4">
        <p-inputGroup>
          <input type="text" pInputText placeholder="Axtarış" />
          <button
            type="button"
            pButton
            icon="pi pi-search"
            class="p-button-warning"
          ></button>
        </p-inputGroup>
      </div> -->
      @if(subCategories.length){
      <p-tabView (activeIndexChange)="onCategoryChange($event)">
        <p-tabPanel
          *ngFor="let cat of subCategories"
          [header]="cat.name"
          [disabled]="!isEdit"
        >
          <ng-container *ngIf="catFoods?.length != 0">
            <div class="row p-0 m-0 d-flex justify-content-between">
              <div class="col-lg-6 foods p-2 m-0" *ngFor="let item of catFoods">
                <div id="detail" class="w-100 p-0 m-0">
                  <div class="detail_box p-0 m-0">
                    <div
                      class="detail_box__photo"
                      [ngStyle]="{
                        'background-image': 'url(' + item.coverImage + ')'
                      }"
                    ></div>
                    <div class="detail_box__details">
                      <div class="detail_box__badges d-flex gap-2">
                        <div class="amount flex-fill d-flex align-items-center">
                          {{ item.price }} AZN
                        </div>
                        <div
                          class="add-btn flex-fill"
                          (click)="addToCart(item)"
                        >
                          <i class="fa-solid fa-cart-shopping"></i>
                          {{ Language.addCartbtn }}
                        </div>
                      </div>
                      <div class="detail_box__name">{{ item.name }}</div>
                      <p-divider></p-divider>
                      <div class="detail_box__info">
                        <span>{{ item.description }}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="!catFoods || catFoods.length === 0">
            <p>{{ Language.emptyMessage }}</p>
          </ng-container>
        </p-tabPanel>
      </p-tabView>
      } @if(subCategories.length==0){
      <div
        class="row p-0 m-0 d-flex justify-content-between"
        (activeIndexChange)="onCategoryChange($event)"
      >
        <div class="col-lg-6 foods p-2 m-0" *ngFor="let item of catFoods">
          <div id="detail" class="w-100 p-0 m-0">
            <div class="detail_box p-0 m-0">
              <div
                class="detail_box__photo"
                [ngStyle]="{
                  'background-image': 'url(' + item.coverImage + ')'
                }"
              ></div>
              <div class="detail_box__details">
                <div class="detail_box__badges d-flex gap-2">
                  <div class="amount flex-fill d-flex align-items-center">
                    {{ item.price }} AZN
                  </div>
                  <div class="add-btn flex-fill" (click)="addToCart(item)">
                    <i class="fa-solid fa-cart-shopping"></i> Add to cart
                  </div>
                </div>
                <div class="detail_box__name">{{ item.name }}</div>
                <p-divider></p-divider>
                <div class="detail_box__info">
                  <span>{{ item.description }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      }

      <!-- <ng-container *ngFor="let children of subCategories">
        <ng-container *ngIf="!children?.children?.length">
          <div class="row p-0 m-0 d-flex justify-content-between">
            <div class="col-lg-6 foods p-2 m-0" *ngFor="let item of catFoods">
              <div id="detail" class="w-100 p-0 m-0">
                <div class="detail_box p-0 m-0">
                  <div
                    class="detail_box__photo"
                    [ngStyle]="{
                      'background-image': 'url(' + item.img + ')'
                    }"
                  ></div>
                  <div class="detail_box__details">
                    <div class="detail_box__badges d-flex gap-2">
                      <div class="amount flex-fill d-flex align-items-center">
                        {{ item.price }} AZN
                      </div>
                      <div class="add-btn flex-fill" (click)="addToCart(item)">
                        <i class="fa-solid fa-cart-shopping"></i> Add to cart
                      </div>
                    </div>
                    <div class="detail_box__name">{{ item.name }}</div>
                    <p-divider></p-divider>
                    <div class="detail_box__info">
                      <span>{{ item.description }}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </ng-container> -->
    </div>

    <!-- Order Summary -->
    <div class="col-lg-5">
      <div class="order-summary pt-5">
        <div class="shop_card">
          <div
            class="d-flex justify-content-between title align-items-center py-2 px-3"
          >
            <p class="pt-3 d-flex">{{ Language.ordSummary }}</p>
            <button
              *ngIf="cartId != 0"
              class="reset-btn py-2 px-4"
              (click)="resetCart()"
              label="Show"
            >
              {{ Language.resetCart }}
            </button>
          </div>

          <div
            class="order-list"
            style="display: grid; grid-template-columns: 1fr"
          >
            <div
              *ngFor="let order of orders; let i = index"
              class="order-item px-3 py-3"
              style="
                display: grid;
                grid-template-columns: 2fr 3fr 2fr;
                align-items: center;
                gap: 1rem;
                padding: 0.5rem;
                border-bottom: 1px solid #ddd;
              "
            >
              <div class="order-details">
                <label class="order-name"
                  ><b>{{ order.name }}</b></label
                >
              </div>
              <div
                class="quantity-controls"
                style="display: flex; align-items: center; gap: 0.5rem"
              >
                <button
                  *ngIf="isEdit"
                  class="btn btn-sm"
                  (click)="decreaseQuantity(order)"
                  [disabled]="order.quantity <= 1"
                >
                  -
                </button>
                <span>{{ order.quantity }}</span>
                <button
                  *ngIf="isEdit"
                  class="btn btn-sm"
                  (click)="increaseQuantity(order)"
                >
                  +
                </button>
              </div>
              <div
                style="
                  display: flex;
                  justify-content: flex-end;
                  align-items: center;
                  gap: 1rem;
                "
              >
                <span>{{ order.amount }} AZN</span>
                <button
                  class="btn btn-sm btn-danger"
                  (click)="removeOrder(i)"
                  *ngIf="isEdit"
                >
                  <i class="fa-solid fa-trash"></i>
                </button>
              </div>
            </div>
          </div>
          <div
            class="order-total-section d-flex justify-content-between align-items-center pt-3 pb-0 px-3"
          >
            <h1 class="pt-1">{{ Language.total }}</h1>
            <b>{{ totalAmount }} AZN</b>
          </div>
          <p-divider class="p-0"></p-divider>
          <div
            *ngIf="!cartId"
            class="w-100 order-submit d-flex justify-content-center align-items-center px-3 py-0 pb-3"
          >
            <button
              class="submit-btn dsb-btn w-100"
              (click)="show()"
              label="Show"
              [disabled]="orders.length === 0"
            >
              {{ Language.frsOrderBtn }}
            </button>
          </div>
          <div *ngIf="cartId" class="d-flex gap-2 px-2 pb-2">
            <button
              *ngIf="!isEdit"
              class="submit-btn w-100"
              (click)="updateCart()"
              label="Show"
            >
              {{ Language.editCart }}
            </button>
            <button
              *ngIf="orderState == 'edit'"
              class="submit-btn w-100"
              (click)="confirmCart()"
              label="Show"
            >
              {{ Language.completeEditBtn }}
            </button>
            <button
              *ngIf="orderState == 'other'"
              class="submit-btn w-100"
              (click)="createOrder()"
              label="Show"
            >
              {{ Language.createOrderBtn }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<p-toast />
