<footer class="py-3">
  <ul class="nav justify-content-center gap-5 line pb-3 mb-3">
    <li class="nav-item">
      <a href="#" class="nav-link px-2 text-body-secondary"
        ><i class="fa-solid fa-phone"></i> +994 70 111 11 11</a
      >
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link px-2 text-body-secondary"
        ><i class="fa-solid fa-location-dot"></i> 1234 Street Name, City Name,
        USA</a
      >
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link px-2 text-body-secondary"
        ><i class="fa-solid fa-envelope"></i> info&#64;yourdomain.com</a
      >
    </li>

    <li class="all-nav">
      <ul class="nav d-flex">
        <li class="nav-item">
          <a href="#" class="nav-link px-2 text-body-secondary"
            ><i class="fa-brands fa-instagram"></i
          ></a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link px-2 text-body-secondary"
            ><i class="fa-brands fa-facebook-f"></i
          ></a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link px-2 text-body-secondary"
            ><i class="fa-brands fa-twitter"></i
          ></a>
        </li>
      </ul>
    </li>
  </ul>
  <p class="copyright text-center text-body-secondary pb-0 mb-0">
    © 2024 Ləziz.<span>Restoran</span> All rights reserved.
  </p>
</footer>
